body {
    background-color: #F3F3F1;
}

html, body {
    height: 100%;
    background-color: #F3F3F1;
}

a, a:hover, a:focus {
    color: #005580;
    text-decoration: none;
}

header {
    padding: 15px 0px 25px 0px;
    background-color: #AEA396;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    box-shadow: 0px 2px 10px #999;
}

header > h1 {
    margin-left: 25px;
    font-size: 64px;
    color: #718281;
    text-shadow: 1px 1px #000, 2px 2px #AA5549, 3px 3px #AA5549;
}

footer {
    background-color: #AEA396;
    height: 77px;
    border-top: 2px solid #333;
    box-shadow: 0px -2px 10px #999;
}

footer > p {
    width: 100%;
    text-align: center;
    color: #555;
    margin-top: 35px;
}

button.btn {
    width: 221px;
    margin: 10px auto 30px 239px;
}

#content {
    background-color: #BBB;
    width: 700px;
    margin: 10px auto 100px auto;
    border-radius: 15px;
    box-shadow: inset 1px 1px 5px #000;
}

#turntable {
    width: 500px;
    background-color: #EEE;
    margin: 20px auto 0px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px #333, 2px 2px #333, 3px 3px #333;
}

#sidebar {
    width: 170px;
    height: 300px;
    float:right;
}

#dials {
    background-color: #666;
    width: 100px;
    height: 200px;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 5px #000;
}

#volume {
    background-color: #777;
    border: solid 1px #555;
    border-radius: 10px;
    position: relative;
    left: 45px;
    top: 25px;
    width: 10px;
    height: 150px;
}

#volume-toggle {
    background-color: #333;
    border-radius: 4px;
    border: solid 2px #111;
    width: 30px;
    height: 15px;
    position: relative;
    top: 60px;
    left: -10px;
}

#rocker {
    background-color: #444;
    margin-top: 5px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

#needle-arm-top {
    position: relative;
    left: 21px;
    top: 15px;
    background-color: #444;
    width: 17px;
    height: 250px;
}

#needle-arm-bottom {
    background-color: #777;
    border-radius: 4px;
    position: relative;
    top: 233px;
    width: 25px;
    height: 50px;

    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
}

#go-btn {
    width: 180px;
    margin: 10px auto;
}

#go {
    float: left;
    width: 150px;
    height: 60px;
    margin: 0px;
    background-color: green;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: -1px 1px 5px #777;
    cursor: pointer;
}

h2 {
    text-align: center;
    padding-top: 15px;
}

input[type=file] {
    width: 75%;
    margin: 5px auto;
    display: none;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -77px; /* the bottom margin is the negative value of the footer's height */
}

.record-outer {
    background: url("../images/vinyl.png");
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: 15px;
    box-shadow: 4px 4px 6px #333;

    /* Spinning Animations */
    /* webkit chrome, safari, mobile */
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 20s; /* 3 seconds */
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;

    /* mozilla ff */
    -moz-animation-name: spin; 
    -moz-animation-duration: 20s; /* 3 seconds */
    -moz-animation-iteration-count: infinite; 
    -moz-animation-timing-function: linear;

    /* microsoft ie */
    -ms-animation-name: spin; 
    -ms-animation-duration: 20s; /* 3 seconds */
    -ms-animation-iteration-count: infinite; 
    -ms-animation-timing-function: linear;
}

.record-middle {
    background-color: #718281;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin-left: 80px;
    margin-top: 80px;
    float: left;
}

.record-inner {
    background-color: #BBB;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-left: 55px;
    margin-top: 55px;
    float: left;
    box-shadow: inset 2px 2px 5px #333;
    border: 10px solid #111;
}

.sunken-text {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 40px;
    float: left;
    color: #040;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.arrow-right {
    float: left;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid green;
}

.push {
    height: 77px;
}

.results {
    padding: 10px;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}