@()

@main("GenreBot") {
    <div id="content">
        <form action="@routes.Application.genreParse" method="post" enctype="multipart/form-data">
            <h2>Drag a file onto the turntable</h2>
            <div id="turntable">
                <div id="sidebar">
                    <div id="rocker">
                        <div id="needle-arm-top">
                            <div id="needle-arm-bottom"></div>
                        </div>
                    </div>
                    <div id="dials">
                        <div id="volume">
                            <div id="volume-toggle"></div>
                        </div>
                    </div>
                </div>
                <div class="record-outer">
                    <div class="record-middle">
                        <div class="record-inner"></div>
                    </div>
                </div>
            </div>
            <h2>Or...</h2>
            <input id="music-file" type="file" name="music-file" accept="audio/*" value="">
            <button id="music-select" class="btn">Choose a File from your Computer</button>
        </form>
        <div id="go-btn">
            <div id="go"><span class="sunken-text dark-green">Go!</span></div>
            <div class="arrow-right"></div>
        </div>
    </div>
}